class CountryConfig
  class << self
    def config
      {
      {{#countries}}
        {{country_code}}: {
          name: '{{country_name}}',
          code: '{{country_code}}',
          bban_format: '{{bban_format}}',
          iban_length: {{iban_length}},
          {{#has_national_bank_code}}
          bank_code: {{national_bank_code_indexes}},
          bank_code_regex: '{{national_bank_code_regex}}',
          {{/has_national_bank_code}}
          {{#has_branch_code}}
          branch_code: {{branch_code_indexes}},
          branch_code_regex: '{{branch_code_regex}}',
          {{/has_branch_code}}
          {{#has_national_checksum}}
          national_checksum: {{national_checksum_indexes}},
          national_checksum_regex: '{{national_checksum_regex}}',
          {{/has_national_checksum}}
          {{#has_account_number}}
          account_number: {{account_number_indexes}},
          account_number_regex: '{{account_number_regex}}',
          {{/has_account_number}}
          {{#has_account_type}}
          account_type: {{account_type_indexes}},
          account_type_regex: '{{account_type_regex}}',
          {{/has_account_type}}
          {{#has_owner_account_number}}
          owner_account_number: {{owner_account_number_indexes}},
          owner_account_number_regex: '{{owner_account_number_regex}}',
          {{/has_owner_account_number}}
          {{#has_currency_code}}
          currency_code: {{currency_code_indexes}},
          currency_code_regex: '{{currency_code_regex}}',
          {{/has_currency_code}}
          {{#has_zero}}
          zero: {{zero_indexes}},
          zero_regex: '{{zero_regex}}',
          {{/has_zero}}
          {{#has_kennitala}}
          kennitala: {{kennitala_indexes}},
          kennitala_regex: '{{kennitala_regex}}',
          {{/has_kennitala}}
          {{#has_account_prefix}}
          account_prefix: {{account_prefix_indexes}},
          account_prefix_regex: '{{account_prefix_regex}}',
          {{/has_account_prefix}}
          {{#has_bic}}
          bic: {{bic_indexes}},
          bic_regex: '{{bic_regex}}',
          {{/has_bic}}
          {{#has_balance_account_number}}
          balance_account_number: {{balance_account_number_indexes}},
          balance_account_number_regex: '{{balance_account_number_regex}}',
          {{/has_balance_account_number}}
          regex: '{{regex}}',
          parts: {{parts}},
          {{#const_global_checksum}}
          const_global_checksum: '{{const_global_checksum}}',
          {{/const_global_checksum}}
          },
      {{/countries}}
      }
    end
  end
end